@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  --Tomato: hsl(4, 100%, 67%);
}
body{
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    background-color: var(--Charcoal-Grey);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
  display: flex;
  align-self: center;
  justify-content: flex-start;
  background-color: var(--White);
  width: 41rem;
  height: 27rem;
  border-radius: 15px;
  padding: 20px 20px 0;
}
.container__content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}
.container__content h1{
    font-weight: 900;
    margin-bottom: 10px;
}
.container__content p{
  font-size: 14px;
  margin-bottom: 10px;
}
.check-icon{
    width: 14px;
    margin-right: 5px;
    cursor: pointer;
}
.container__input{
    margin-top: 20px;
    position: relative;
}
label{
    font-size: 14px;
    font-weight: 700;
}
.container__input input[type='email']{
    padding: 15px 30px;
    border: 1px solid var(--Charcoal-Grey);
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
    
}
#error-msg{
    color: red;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.container__input button,
.succesful button{
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 15px 30px;
    font-weight: 700;
    width: 100%;
    transition: all 400ms linear;
    cursor: pointer;
}
.container__input button:hover,
.succesful button:hover{
    background: linear-gradient(90deg, rgba(246,58,141,1) 0%, rgba(248,83,68,1) 100%);
   
}

.container__image{
    width: 20rem;
    height: 24rem;
}
.container__image img{
    width: 100%;
}


.succesful{
    background-color: var(--White);
    width: 17rem;
    padding: 10px 15px;
    border-radius: 10px;
}
.succesful h1{
    font-weight: 700;
}
.succesful p{
    font-size: 12px;
    margin: 10px 0;
}
.succesful button{
    padding: 10px 20px;
    font-size: 12px;
}

@media screen and (max-width: 690px){
    .container{
        width: 35rem;
    }
    .container__image{
        height: 29rem;
    }
    .container__image img{
        width: 100%;
    }
}
@media screen and (max-width:450px){
    .container{
        flex-direction: column-reverse;
        width: 90%;
        height: 80vh;
        padding:0 0 20px 20px;
        margin: 0 2%;
    }
   .container__image img{
    width: 100vw;
    height: 250px;
   }
   .container__input button,
   .container__input input{
    width: 100%;
   }
   .container__content p{
    margin: 10px 0;
   }
   .container__image img{
    width: 100vw;
    
}
}
